<div class="analytics">

<div class="inside2">


<table width="100%">
<tr>
<td width="50%"  style="padding-left: 40px;"><h2><b class='group_label_name'>Analytics</b></h2>
</td>
<td width="50%">
<table align="right">
<tr>

<td width="30px"><label location="refresh_btn"/></td>
<td width="7px"></td>
<td><a href="#"><img src="../Images/setting.png"/></a></td>
<td width="7px"></td>
</tr>

</table>
</td>
</tr>
</table>

</div>
<div style="height:50px;"><label location="analytics_combo"/></div>
<label location="chart"/>
</div>

