<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>


</head>
<body>
	<div class="container_121">
		<div id="sampledivision1">

			<table>
				<tr>
					<td ><div location="org_logo" style="margin-left: 20px;"></div></td>
					<td>

						<table style="font-weight: bold;">
							<tr>
								<td align="right"><label location="organizationLabel"/></td>
								<td><label location="organization" /></td>
							</tr>
							<tr>
								<td align="right"><label location="officeLabel"/></td>
								<td><label location="office" /></td>
							</tr>
							<tr>
								<td align="right"><label location="contactLabel"/></td>
								<td><label location="contact" /></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>

						</table>




					</td>
				</tr>
				<tr style="height: 14px;">
					<td ></td>
				</tr>
				<tr>
					<td align="right" style="padding-left: 20px;" ><label location="userLabel"/></td>
								<td><label location="username" /></td>
				</tr>
				<tr>
					<td align="right" style="padding-left: 20px;" ><label location="timeLabel"/></td>
								<td><label location="date" /></td>
<!-- 					<td colspan="2" style="padding-left: 20px;"><label location="date" /></td> -->
				</tr>

			</table>




		</div>
		<div id="sampledivision">
			<p>
				<img
					src="../Images/line.png"
					alt="" width="24" height="130" />
			</p>
		</div>

		<div id="sampledivision2">
			<img
				src="../Images/softwarelogo.png"
				alt="" width="225" height="150" />
		</div>

		<div id="sampledivision">
			<p>
				<img
					src="../Images/line.png"
					alt="" width="24" height="130" />
			</p>
		</div>

		<div id="sampledivision"
			style="float: right; margin: 0px; padding: 0px;">
			<table>
				<tr>
					<td >
						<table>
							<tr>
								<td align="center" location="user_image" style="margin-left: 20px;">
									
								</td>
							</tr>
							<tr>
								<td align="center" valign="top" width="50">
									<div location="logout" style="float: none;"></div>
								</td>
							</tr>
						</table>
					
					
					</td>
					<td>
						
							<table style="margin-right: 20px; margin-top: 0px;">
							<tr><td width="300" align="right">
							<table>
								<td align="right"><label location="dateLabel"/></td><td align="right"><label location="workingdate" /></td>
<!-- 							<td width="300" align="right">&nbsp;<div location="workingdate" style="float: right;"></div></td> -->
							</table></td>
							</tr>
							<tr>
								<td width="300" align="right">&nbsp;
									<div location="language_select" style="float: right;"></div>
								</td>

							</tr>
							<tr>
								<td width="300" align="right">&nbsp;
									<div location="finyear" style="float: right;"></div>
								</td>

							</tr>
							


							<tr>
								<td width="300" align="right">&nbsp;
									<div location="organization_select" style="float: right;"></div>
								</td>

							</tr>
							<tr>
								<td width="300" align="right">&nbsp;
									<div location="office_select" style="float: right;"></div>
								</td>

							</tr>
							<tr>
						<td><br></br></td>
					</tr>
					
						
						</table>
					</td>
				</tr>
				
				<tr>
					<td colspan="2" style="float: right;"></td>
				</tr>

			</table>
		</div>

		<!-- <div id="container_121">
             <p>
        <div id="sampledivision1">
        
        <table>
        	<tr>
        		<td> <div location="clock"></div></td>
        	</tr>
        	<tr>
        		<td> <div location="logout"></div></td>
        	</tr>
        </table>
        
       
        
     </div></div> -->

	</div>
</body>
</html>