
<div class="header">
	<div class="headimage">
		<label location="home_button" />
	</div>


	<div class="search">
		<table style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
			<tr>
				<td width="95%"><label location="search_box" /></td>
				<td><label location="search_button" /></td>
			</tr>
		</table>
	</div>

	<div class="verticalline"></div>

	<div class="alert4" style="width: 170px;" align="center">

		<table style="padding: 3px 0px 0px 0px; margin: 0px 0px 0px 0px;">
			<tr>
				<td width="40" align="center"><label location="quick_menu" /></td>
				<td width="5" align="right" valign="bottom"><label
					location="create_new_pop" /></td>
				<td width="35" align="center"><label location="create_menu" /></td>
				<td width="40" align="center"><label location="recent_menu" /></td>
				<td width="40" align="center"><label
					location="saved_sessions_menu" /></td>
			</tr>
		</table>
	</div>

	<div class="verticalline"></div>

	<div class="alert">
		<img src="../Images/bell.png" />
		<div class="all">
			<label location="alerts_notif" />
		</div>
	</div>
	<div class="verticalline"></div>
	<div class="alert">
		<img src="../Images/reportIssue.png"  style="height: 25px; width:23px; margin-top:4px;" />
		<div class="all">
			<label location="issue_notif"/>
		</div>
	</div>
	<div class="verticalline"></div>
	<div class="alert">
		<img src="../Images/msg.png" style="height: 23px; width:27px; margin-top:4px;" />
		<div class="all">
			<label location="msgs_notif" />

		</div>
		<div>
			<label location="email_popup">
		</div>
	</div>
	<div class="verticalline"></div>

	<div class="alert">
<!-- 		<a target="_new" href="http://www.sparknovaplc.com#help"></a> -->
		<div class="main_help_btn_style" ></div>
	</div>

	<div class="verticalline"></div>

	<div class="round-image" style="width: 11%;" align="center">
		<table style="padding: 0px 0px 0px 0px; margin: 3px 0px 0px 0px;">
			<tr>
				<td><label location="user_image" /></td>
			</tr>
		</table>
		<div>
			<label location="user_details_popup" />
		</div>
	</div>

	<div class="verticalline"></div>
	<div class="alert">
		<label location="logout_btn" />
	</div>

	<div class="verticalline"></div>

	<div class="headimage">
		<label location="main_settings" />
	</div>
	<div>
		<label location="settings_popup" />
	</div>

	<div class="alert3"></div>

</div>

